<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSystemExtensionUsageDescription</key>
	<string>rootshell VPN tunnels traffic over your SSH connection.</string>
	<key>NetworkExtension</key>
	<dict>
		<key>NEMachServiceName</key>
		<string>$(ROOTSHELL_DEFAULT_APP_GROUP).tunnel</string>
		<key>NEProviderClasses</key>
		<dict>
			<key>com.apple.networkextension.packet-tunnel</key>
			<string>$(PRODUCT_MODULE_NAME).SSHVPNTunnelProvider</string>
		</dict>
	</dict>
	<key>RootshellDefaultAppGroup</key>
	<string>$(ROOTSHELL_DEFAULT_APP_GROUP)</string>
	<key>RootshellKeychainAccessGroup</key>
	<string>$(ROOTSHELL_KEYCHAIN_ACCESS_GROUP)</string>
</dict>
</plist>
