<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>RootshellAppBundleIdentifier</key>
	<string>$(ROOTSHELL_ORG_IDENTIFIER).rootshell</string>
	<key>RootshellDevelopmentTeam</key>
	<string>$(ROOTSHELL_DEVELOPMENT_TEAM)</string>
	<key>RootshellDefaultAppGroup</key>
	<string>$(ROOTSHELL_DEFAULT_APP_GROUP)</string>
	<key>CFBundleName</key>
	<string>Rootshell Helper</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>rootshell-helper</string>
	<key>CFBundleDisplayName</key>
	<string>Rootshell Helper</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Programs you run in rootshell may control other applications using Apple events.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Programs you run in rootshell may use Bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Programs you run in rootshell may access your calendars.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Programs you run in rootshell may read and modify your calendars.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Programs you run in rootshell may add events to your calendars.</string>
	<key>NSCameraUsageDescription</key>
	<string>Programs you run in rootshell may use the camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>Programs you run in rootshell may access your contacts.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Programs you run in the Rootshell shell may discover and connect to devices on your local network, such as for croc transfers, device discovery, and direct terminal connections.</string>
	<key>NSLocationUsageDescription</key>
	<string>Programs you run in rootshell may access your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Programs you run in rootshell may use the microphone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Programs you run in rootshell may access your photo library.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Programs you run in rootshell may access your reminders.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Programs you run in rootshell may read and modify your reminders.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Programs you run in rootshell may use speech recognition.</string>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>Programs you run in rootshell may request permission to change system configuration.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ssh._tcp</string>
	</array>
</dict>
</plist>
